<div class="application-skin">
  <aside class="main-sidebar" style="width:380px" ng-show="isFirstScreen">
    <div class="content-header" style="text-align: center ;">
      <span style="top:14%; font-size:16px;color:#2C2C2C"><b>Segment</b>Browser</span>
    </div>
    <section class="sidebar" style="margin-top:10px;">
      <ul class="sidebar-menu" style="overflow-y: auto; ">
        <li class="treeview" style="background-color:#b9bfc3; border-top: 1px solid #8a8a8a;">
          <a href="#" style="padding-top:0px;">
            <span style="top:14%; font-size:16px;color:#0c536f">Segment Filter</span>
            <div class="product-info" style="height:36px;border-top: 1px solid #757575;">
              <span class="product-description" style="font-size:12px;color:#5a1d16">{{segmentFilterVal}}</span>
            </div>
            <span class="label label-info pull-right" style="margin-right: 20px;top: 14%;">Apply Filter</span>
            <span class="glyphicon glyphicon-menu-right pull-right" style="top:14%;color:#2c3b41"></span>
          </a>
          <ul class="treeview-menu" style="padding-left: 3px; background: #c14444;">
            <li>
              <div style="background-color:#eeeeee;">
                <div class="input-group" style="padding-right: 10px;">
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px;">
                    <span class="glyphicon glyphicon-check" ng-show="isSegmentStateOption" ng-click="buildFilterSegmentList(0,true,selectedType.name)"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!isSegmentStateOption" ng-click="buildFilterSegmentList(0,true,selectedType.name)"></span>
                  </span>
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px; text-align: left;">
                    Segment State
                  </span>
                  <select class="selected_cust" ng-model="selectedType" ng-change="buildFilterSegmentList(0,false,selectedType.name)"
                  ng-options="customer as customer.label for customer in segmentType track by customer.id" style="width: 100%; margin-top: 4px;">
                  </select>
                </div>

                <div class="input-group" style="padding-right: 10px;">
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px;">
                    <span class="glyphicon glyphicon-check" ng-show="isContainsOption" ng-click="buildFilterSegmentList(1,true,containsStr)"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!isContainsOption" ng-click="buildFilterSegmentList(1,true,containsStr)"></span>
                  </span>
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px; text-align: left;">
                    Contains 
                  </span>
                  <input type="text" ng-model="containsStr" ng-change="buildFilterSegmentList(1,false,containsStr)" style="width: 100%;">
                </div>

                <div class="input-group" style="padding-right: 10px;">
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px;">
                    <span class="glyphicon glyphicon-check" ng-show="isCreatedByOption" ng-click="buildFilterSegmentList(2,true,createdBy)"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!isCreatedByOption" ng-click="buildFilterSegmentList(2,true,createdBy)"></span>
                  </span>
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px; text-align: left;">
                    Created By
                  </span>
                  <input type="datenew" ng-model="createdBy" ng-change="buildFilterSegmentList(2,false,createdBy)" style="width: 100%;">
                </div>

                <div class="input-group" style="padding-right: 10px;">
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px;">
                    <span class="glyphicon glyphicon-check" ng-show="isSegmentNameOption" ng-click="buildFilterSegmentList(3,true,txtContains)"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!isSegmentNameOption" ng-click="buildFilterSegmentList(3,true,txtContains)"></span>
                  </span>
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px; text-align: left;">
                    Segment Name
                  </span>
                  <input type="datenew" ng-model="txtContains" ng-change="buildFilterSegmentList(3,false,txtContains)" style="width: 100%;">
                </div>

                <div class="input-group" style="padding-right: 10px;">
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px;">
                    <span class="glyphicon glyphicon-check" ng-show="isSegmentDateOption" ng-click="buildFilterSegmentList(4,true,startDateVal+'#'+endDateVal)"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!isSegmentDateOption" ng-click="buildFilterSegmentList(4,true,startDateVal+'#'+endDateVal)"></span>
                  </span>
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px; width:100%; text-align: left;">
                    Date Between
                  </span>
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px;">
                    <input type="datenew" style="width:90px" ng-model="startDateVal" ng-change="buildFilterSegmentList(4,false,startDateVal+'#'+endDateVal)">
                  </span>
                  <span class="input-group-addon" style="background-color: #f5f5f5;border: 0px;font-size: 12px;line-height: 10px;">
                    <input type="datenew" style="width:90px" ng-model="endDateVal" ng-change="buildFilterSegmentList(4,false,startDateVal+'#'+endDateVal)">
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="treeview" ng-class="{active : (selectedSegmentIndx == $index) && isSegmentSelected}" ng-repeat="segmentGroup in segmentListData">
          <a href="#" ng-click="loadSegmentData($index, segmentGroup.segmentStatus)" style="padding: 5px 5px 5px 15px;">
            <div class="product-info">
              <span class="product-description" style="text-transform: uppercase;">{{segmentGroup.segmentName}}</span>
            </div>
            <div class="product-info">
              <span style="color: #c3c2c2">{{segmentGroup.user}}</span>
            </div>
            <div class="product-info">
              <span class="product-description" style="font-size:12px; color:#94b0b9">{{segmentGroup.createdDate}}</span>
              <span class="label label-info pull-right" ng-show="segmentGroup.segmentStatus == 'active'">active</span>
              <span class="label label-warning pull-right" ng-hide="segmentGroup.segmentStatus == 'active'">archive</span>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </aside>

  <aside class="main-sidebar" style="width:380px" ng-hide="isFirstScreen">
    <div class="content-header" style="text-align: center;">
      <span style="top:14%; font-size:16px;color:#2C2C2C"><b>Attribute</b>Browser</span>
    </div>
    
    <section class="sidebar" style="margin-top:10px;">
      <ul class="sidebar-menu" style="height: 760px; overflow-y: auto;">
        <li class="treeview" style="background-color:#b9bfc3; border-top: 1px solid #8a8a8a;">
          <select class="selected_cust" ng-model="selectedCustomer" ng-change="selectCustomerType(selectedCustomer.name)"
          ng-options="customer as customer.label for customer in customerType track by customer.id" style="width: 100%; margin-top: 4px;">
          </select>
          
          <div>
            <input type="datenew" ng-model="filter_val" placeholder="Filter..." style="width: 100%;">
          </div>
        </li>
        <li class="treeview" ng-repeat="attributeGroup in attributes" ng-show="filtered.length > 0">
          <a href="#">
            <span>{{attributeGroup.hrcName}}</span>
            <span class="label label-danger pull-right" style="margin-right: 20px;" ng-show="countAddedAttribute(attributeGroup.attributeList) > 0">{{countAddedAttribute(attributeGroup.attributeList)}}</span>
            <span class="glyphicon glyphicon-menu-right pull-right" style="color:#2c3b41"></span>
          </a>
          <ul class="treeview-menu">
            <li ng-repeat="attribute in filtered = (attributeGroup.attributeList | filter:filter_val) track by $index">
              <a href="#">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{attribute.name}}
                <small class="label pull-right bg-red" ng-show="attribute.isAdded"  ng-click="deleteAttribute(attribute.name, $parent.$index)">remove</small>
                <small class="label pull-right bg-green" ng-hide="attribute.isAdded" ng-click="showAttributeDescription(attribute, $parent.$index)">add</small>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper" id="seg_definition" style="margin-left: 380px;">
    <section class="content-header">
      <ol class="breadcrumb">
        <li ng-click="navigateView(1)"><span ng-class="{'active-page': isFirstScreen}" class="inactive-page">View</span></li>
        <li ng-click="navigateView(2)"> <span ng-class="{'active-page': !isFirstScreen}" class="inactive-page">Create</span></li>
      </ol>
    </section>
    <section>
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Segment Signature</h3>
          <div class="box-body pull-right">
            <a class="btn btn-app" ng-click="segment_clone()" ng-show="isFirstScreen && isSegmentSelected">
              <span class="glyphicon glyphicon-copy"></span> Clone
            </a>
            <a class="btn btn-app" ng-click="segment_edit()" ng-show="isFirstScreen && isSegmentSelected && !isArchive">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
            <a class="btn btn-app" ng-show="isFirstScreen && isSegmentSelected && !isArchive" ng-click="updateSegmentStatus('archive')">
              <span class="glyphicon glyphicon-cd"></span> Make Archive
            </a>
            <a class="btn btn-app" ng-show="isFirstScreen && isSegmentSelected && isArchive" ng-click="updateSegmentStatus('active')">
              <span class="glyphicon glyphicon-thumbs-up"></span> Make Active
            </a>
            <a class="btn btn-app" ng-click="saveSegment()" ng-hide="isFirstScreen">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </a>
          </div>
        </div>
        <div style="height:230px; background-color:#f6f6f6;">
          <form class="form-horizontal" style="margin-right: 10px;padding-top: 10px;">
            <div class="form-group">
              <label class="control-label col-sm-3" for="email">Segment Name:</label>
              <div class="col-sm-9">
                <input id="segment_name" class="form-control" placeholder="Enter segment name" ng-model="segment_name" ng-disabled="isFirstScreen">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="pwd">Segment ShortDesc:</label>
              <div class="col-sm-9">
                <input id="segment_shortdesc" class="form-control" placeholder="Enter segment short desc" ng-model="segment_description" ng-disabled="isFirstScreen">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="pwd">Segment Definition:</label>
              <div class="col-sm-9">
                <div class="box-body no-padding" style="height:100px; overflow-y:auto; background-color: #ffffff; border-radius: 4px;border: 1px solid #ccc;">
                    <table width="100%">
                      <tr ng-repeat="rowObj in segementList">
                        <td style="padding-bottom: 2px;">
                          <input type="text" name="q" class="segment-filter-text"  readonly="readonly" ng-model="rowObj" ng-change="updateFilterValue($index, rowObj)"/>
                        </td>
                        <td width="36px" ng-hide="isFirstScreen" ng-click="removeDefination($index)">
                          <span class="glyphicon glyphicon-trash"></span>
                        </td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section ng-hide="isArchive">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Customer Segment</h3>
            <div class="box-body pull-right">
              <a class="btn btn-app" ng-click="updateAttribute()">
                <span class="glyphicon glyphicon-filter"></span> Update Attribute
              </a>
              <a class="btn btn-app" ng-click="downloadCustomerData()">
                <span class="glyphicon glyphicon glyphicon-import"></span>  Download
              </a>
              <a class="btn btn-app" ng-click="exportCustomerData()">
                <span class="glyphicon glyphicon glyphicon-export"></span>  Export
              </a>
              <a class="btn btn-app" ng-click="fetchDetails()">
                <span class="glyphicon glyphicon-search"></span> View
              </a>
            </div>
          </div>
          <div class="box-body no-padding" style="height:175px;overflow-y:auto;background-color: #f6f6f6;">
            <table class="table table-condensed table-striped table-fixed">
              <thead>
                <tr>
                  <th ng-repeat="colName in tableColumnAttributesList">{{colName}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="rowObj in dataList.dataList">
                  <td ng-repeat="colName in tableColumnAttributesList">{{rowObj[colName]}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="box-footer clearfix">
            <div class="col-lg-12">
              <div class="dataTables_info" id="example1_info" role="status" aria-live="polite" style="margin-top: 8px;" ng-show="dataList.dataList.length > 0">Showing 1 to {{dataList.dataList.length}} of {{dataList.result_count}} customers</div>
            </div>
          </div>

        </div>
    </section>
  </div>

  <!-- Popup -->
  <div id="string-popup" class="modal">
    <div class="modal-content">
      <div class="box-info">
        <div class="box-header with-border" style="background-color: #2c3b41;">
          <h3 class="box-title" style="color: #eeeeee;">{{selectedAttribute}}</h3>
          <span class="glyphicon glyphicon-remove-circle pull-right" style="color:#EEEEEE" ng-click="closePopup()"></span>
        </div>
        <div style="height:280px; background-color:#f6f6f6;">
          <div class="topnav_option" >
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-6 border-right">
                  <div class="description-block">
                    <input type="radio" name="optradioStr" ng-click="attributeFilterOptions('IN')" checked="checked">
                    <span class="description-text">IN</span>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <div class="description-block">
                    <input type="radio" name="optradioStr" ng-click="attributeFilterOptions('NOT')">
                    <span class="description-text">NOT IN</span>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <div class="list_group">
                <div ng-click="selectOption($index)" class="checkbox" ng-repeat="description in attributesDescription">
                  <label>
                    <span class="glyphicon glyphicon-check" ng-show="description.isSelected"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!description.isSelected"></span>
                    {{description.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="buildSegment('string')">Select</button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="number-popup" class="modal">
    <div class="modal-content">
      <div class="box-info">
        <div class="box-header with-border" style="background-color: #2c3b41;height:32px;">
          <h3 class="box-title" style="color: #eeeeee;">{{selectedAttribute}}</h3>
          <span class="glyphicon glyphicon-remove-circle pull-right" style="color:#EEEEEE" ng-click="closePopup()"></span>
        </div>

        <div style="background-color:#f6f6f6;">
          <section class="content-header">
            <ol class="breadcrumb">
              <li ng-click="isRangeSelecter = false"><span ng-class="{'active-page': !isRangeSelecter}" class="inactive-page">Condition Selector</span></li>
              <li ng-click="isRangeSelecter = true"> <span ng-class="{'active-page': isRangeSelecter}" class="inactive-page">Range Selector</span></li>
            </ol>
          </section>

          <div class="box box-info" style="margin-bottom: 0px;">
            <div class="box-header with-border">
              <h3 class="box-title">Min Value: {{minValue}}</h3>
              <h3 class="box-title pull-right">Max Value: {{maxValue}}</h3>
            </div>
            <div style="background-color:#f6f6f6; height:100px;">
              <div class="row" style="margin-right: 2px; margin-left: 2px; padding: 20px 0 0 0;" ng-hide="isRangeSelecter">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2" ng-repeat="option in rangeOptionList">
                  <div class="row">
                    <input type="radio" name="optradioNum" ng-click="updateRangeSelection(option.name)" ng-selected="option.isSelected">
                    <span>{{option.label}}</span>
                  </div>
                </div>
                <div class="col-sm-1">
                </div>
              </div>

              <div class="row" style="margin-right: 2px; margin-left: 2px;" ng-hide="isRangeSelecter">
                <!-- /.col -->
                <div class="col-sm-12 border-right">
                  <input type ="range" min ="{{minValue}}" max="{{maxValue}}" step ="1" value ="1" ng-model="rangeSelectedValue"/>
                </div>
              </div>

              <div class="row" style="margin-right: 2px; margin-left: 2px; padding:0 4%; padding-top: 20px;" ng-show="isRangeSelecter">
                <form>
                  <div data-role="rangeslider" data-mini="true">
                    <input type="range" name="range-1a" id="range-1a" min="0" max="{{maxValue}}" value="10" ng-model="ltValue">
                    <input type="range" name="range-1b" id="range-1b" min="0" max="{{maxValue}}" value="90" ng-model="gtValue">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="buildSegment('number')">Select</button>
        </div>
      </div>
    </div>
  </div>

  <div id="date-popup" class="modal">
      <div class="modal-content">
        <div class="box-info">
          <div class="box-header with-border" style="background-color: #2c3b41;height:32px;">
            <h3 class="box-title" style="color: #eeeeee;">{{selectedAttribute}}</h3>
            <span class="glyphicon glyphicon-remove-circle pull-right" style="color:#EEEEEE" ng-click="closePopup()"></span>
          </div>

          <div style="background-color:#f6f6f6;">
            <section class="content-header">
              <ol class="breadcrumb">
                <li ng-click="isRangeSelecter = false"><span ng-class="{'active-page': !isRangeSelecter}" class="inactive-page">Condition Selector</span></li>
                <li ng-click="isRangeSelecter = true"> <span ng-class="{'active-page': isRangeSelecter}" class="inactive-page">Range Selector</span></li>
              </ol>
            </section>
  
            <div class="box box-info" style="margin-bottom: 0px;">
              <div class="box-header with-border">
                <h3 class="box-title">Min Value: {{minValue}}</h3>
                <h3 class="box-title pull-right">Max Value: {{maxValue}}</h3>
              </div>
              <div style="background-color:#f6f6f6; height:100px;">
                <div class="row" style="margin-right: 2px; margin-left: 2px; padding: 20px 0 0 0;" ng-hide="isRangeSelecter">
                  <div class="col-sm-1">
                  </div>
                  <div class="col-sm-2" ng-repeat="option in rangeOptionList">
                    <div class="row">
                      <input type="radio" name="optradioNum" ng-click="updateRangeSelection(option.name)" ng-selected="option.isSelected">
                      <span>{{option.label}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                  </div>

                  <div class="col-sm-12">
                    <div class="row">
                      <span>Select Date</span>
                      <input type="datenew" style="width:90px" ng-model="dateCondition">
                    </div>
                  </div>
                </div>
  
                <div class="row" style="margin-right: 2px; margin-left: 2px; padding:0 4%; padding-top: 20px;" ng-show="isRangeSelecter">
                  <div class="col-sm-6">
                    <div class="row">
                      <span>Start Date</span>
                      <input type="datenew" style="width:90px" ng-model="startDateRange">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <span>End Date</span>
                      <input type="datenew" style="width:90px" ng-model="endDateRange">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="buildSegment('date')">Select</button>
          </div>
        </div>
      </div>
    </div>

  <div id="customer-segment-popup" class="modal">
    <div class="modal-content">
      <div class="box-info">
        <div class="box-header with-border" style="background-color: #2c3b41; height:32px;">
          <h3 class="box-title" style="color: #eeeeee;">Add Attribute for Customer Segment</h3>
          <span class="glyphicon glyphicon-remove-circle pull-right" style="color:#EEEEEE" ng-click="closePopup()"></span>
        </div>
        <div style="height:280px; background-color:#f6f6f6;">
          <div class="topnav_option">
            <div class="box-footer">
              <div class="list_group" style="height:40px;">
                <input type="datenew" ng-model="customerSegmentPopupModel" style="width:100%;">
              </div>
              <div class="list_group">
                <div ng-click="selectAttributeOption(description.name)" class="checkbox" ng-repeat="description in popupAttributesList | filter : customerSegmentPopupModel">
                  <label>
                    <span class="glyphicon glyphicon-check" ng-show="description.isSelected"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!description.isSelected"></span>
                    {{description.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loadingWrap"></div>
</div>